@page "/"

<h2>Willkommen</h2>
<p>
  Diese Blazor WebAssembly App kann auf eine Swagger-basierte API mit Basic Authentication zugreifen.
  Gehe zu <a href="/apitest">Verbindung herstellen</a>, um eine Verbindung zu prüfen.
  
</p>
