@page "/"

<h2>Willkommen</h2>
<p>
  Diese Blazor WebAssembly App kann auf eine Swagger-basierte API mit Basic Authentication zugreifen.
  Gehe zum <a href="/apitest">API-Test</a>, um eine Verbindung zu prüfen.
  
</p>
