<Router AppAssembly="typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Shared.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Shared.MainLayout)">
            <p>Sorry, die Seite wurde nicht gefunden.</p>
        </LayoutView>
    </NotFound>
</Router>
